.book-appointment-header{
    background-color: purple;
    color: white;
    height: 5%;
    width: 100%;
    padding: 10px;
}

.book-appointment-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.book-appointment-card{
    max-width: 800px;
    height: 800px;
    width: 100%;
    background-color: rgb(166, 13, 13);
    z-index: 1;
}

.book-appointment-card-content{
    height: 100%;
    width: 100%;
}

.cardStyle {
    width: 100%;
    height: 100%;
}

.doctor-name-text-field{
    pointer-events: none;
}

.alert-dialog-style{
    z-index: 999;
}

.alert-title-style{
    background-color: rgba(0, 0, 0, 0.785);
    color: white;
}

.alert-content-style{
    background-color: rgba(0, 0, 0, 0.785);
}

.alert-text-style{
    color: white;
}

.alert-button-style{
    background-color: grey;
}